/* Css Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generics */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans';
    font-size: 13px;
}

header {
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 5px 10px #888888;
    z-index: 1;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a.default-link {
    text-decoration: underline;
    color: #0000EE;
}

img {
    display: block;
    max-width: 100%;
}

section{
    padding: 80px 0;
}

h2 {
   font-size: 28px;
   margin-bottom: 40px;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 60px 0;
}

/* Utilities */
.container-lg {
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm {
    max-width: 1000px;
    margin: 0 auto;
}

    /* Margin Bottom */
.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}
    /* Splitter */

.splitter-xs {
    border-bottom: 1px solid lightgray;
    margin: 30px 0;
    width: 20%;
}  

.splitter-sm {
    border-bottom: 1px solid lightgray;
    margin: 30px 0;
    width: 30%;
}

.splitter-lg {
    border-bottom: 1px solid lightgray;
    margin: 30px 0;
}
/* Buttons */

.btn {
    background-color: #0061ff;
    color: white;
    padding: 5px 12px;
    display: inline-block;
    border-radius: 2px;
}

.btn:hover {
    background-color: #3580fa;
    scale: 1.05;
}

.btn:active {
    scale: 1;
}
    /* Layout */
.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row.cols-3 > .col {
    flex-basis: calc(100% / 3 - 80px / 3);
}

.row.cols-3 {
    gap: 40px;
}

.row.grow > * {
    flex-grow: 1;
}



.row.cols-5 > .col {
    flex-basis: calc(100% / 5);
}

    /* Background */
.bg-green{
    background-color: #a2d39b;
}

.bg-brightred{
    background-color: #ff1c1c;
}

.bg-red{
    background-color: #d5001f;
}
.bg-lightblue{
    background-color: #b4d0e7;
}

.bg-blue{
    background-color: #0093ce;
}

.bg-darkblue{
    background-color: #0d2481;
}

.bg-yell{
    background-color: #ffd830;
}

.bg-bordeaux{
    background-color: #61082b;
}

.bg-lightgrey {
    background-color: #f5f5f5;
}

/* Header */
.navbar.flex {
    height: 80px;
    justify-content: space-between;
    padding: 20px;
    font-size: 13px;
}

.header-left.flex-align-center,
.card-links-lft.flex,
.card-links-rgt.flex {
    gap: 40px;
}

.card-links-rgt.flex {
    margin-right: 20px;
}

.logo {
    height: 20px;
}


/* Main */

/* Hero */
.hero {
    background-color: #b4d0e7;
    padding: 50px 0 10px 0;
    font-size: 13px;
}

.hero h1{
    font-size: 52px;
    font-weight: 800;
}

.hero-image {
    height: 400px;
    position: relative;
    bottom: -70px;
    left: 0;
}

.text-hero {
    flex-basis: 30%;
    margin-top: 70px;
    position: relative;
}

.fas.fa-arrow-down {
    position: absolute;
    bottom: 0;
    left: 0; 
    filter: drop-shadow(0 0 5px #fff);
}

.fas.fa-arrow-down:hover {
    scale: 1.1;
}

.fas.fa-arrow-down:active {
    scale: 1;
}


/* Business plans section */
#plans-business {
    padding: 120px 0 60px 0;
}

/* Fake radio buttons */
.billing::before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 50%;
    line-height: 15px;
    vertical-align: middle;
}

.billing.border-blue::before {
    border: 3px solid #0061ff;
    height: 13px;
    width: 13px;
}

.billing {
    margin-right: 20px;
} 

/* Plans */

/* Column */
#plans-business .col {
    border: 1px solid lightgray;
}

.col-header {
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0;
}

#plans-business .col-body {
    padding: 20px;
}

.col-body .features li {
    height: 40px;
}

.col-body .btn {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.fa-ul {
    list-style-type: none;
    margin-left: var(--fa-li-margin, 1.5em);
    padding-left: 0;
}

.fa-solid.fa-check {
    color: #0061ff;
}

/* Row */
.col-body.row {
    align-items: flex-start;
}

.col-body.row .left-side {
    flex-basis: 70%;
}

.col-body.row .right-side {
    flex-basis: 30%;
    padding-left: 25px;
}

.left-side ul {
    margin-bottom: 40px;
}

.col-body.row .btn {
    flex-basis: 30%;
    margin-bottom: 10px;
}

/* Partners */


.container-image {
    flex-basis: 70%;
}

.partner-text {
    flex-basis: 30%;
    padding: 30px;
}

.partner-text .btn {
    background-color: white;
    color: black;
    border: 1px solid currentColor;
}

/* Teams */
section.teams {
    padding: 80px 0 0 0;
}

.teams .row.cols-3 {
    gap: 0;
}

.teams .row.cols-3 > .col {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    flex-grow: 1;
}

.row.cols-2 > .col {
    height: 50%;
    width: 50%;
    border: 15px solid transparent;
}

.row.cols-2 > .col img {
    width: 60%;
    filter: invert(1);
}

.row.cols-2 > .col:hover {
    border: 15px solid rgba(255, 255, 255, 0.5);
}

.col.middle {
    padding: 40px;
}

.image-col-middle img {
    width: 80%;
}

.teams-conclusion .wrapper.flex {
    align-items: flex-start;
}

.teams-conclusion h2 {
    color: #61082b;
    flex-grow: 1;
    margin-bottom: 0;
}

.teams-conclusion .btn {
    background-color: white;
    color: black;
    padding: 6px 30px;
}

/* Frequent questions */

.list-questions .question {
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
}

.list-questions .question,
.list-questions p {
    padding: 0 30px 0 0;
}

.list-questions p {
    display: none;
}

 .question:hover + li p {
    display: block;
}

/* Footer */

footer ul, .language{
    padding: 20px;
}

footer li {
    line-height: 30px;
}

footer .splitter-xs {
    margin-left: 20px;
}

footer .language {
    color: grey;
}
