/* Css Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'Open Sans';
}

header {
    background-color: #fff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

img {
    display: block;
    max-width: 100%;
}

/* Utilities */
.container-lg {
    max-width: 1100px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
}

.btn {
    background-color: #0061ff;
    color: white;
    padding: 5px 12px;
}

.mb-20 {
    margin-bottom: 20px;
 }

/* Header */
.navbar.flex {
    height: 80px;
    justify-content: space-between;
    padding: 20px;
    font-size: 13px;
}

.header-left.flex-center,
.card-links-lft.flex,
.card-links-rgt.flex {
    gap: 40px;
}

.card-links-rgt.flex {
    margin-right: 20px;
}

.logo {
    height: 20px;
}

/* Hero */

.hero {
    background-color: #b4d0e7;
    padding: 50px 0 10px 0;
    font-size: 13px;
}

.hero h1{
    font-size: 52px;
    font-weight: 800;
    margin-bottom: -30px;
}

.hero-image {
    height: 400px;
    position: relative;
    top: 70px;
    left: 0;
}

.text-hero {
    flex-basis: 30%;
    padding-top: 70px;
    position: relative;
}



.fas.fa-arrow-down {
    position: absolute;
    bottom: 0;
    left: 0; 
}