/* Css Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'Open Sans';
    font-size: 13px;
}

header {
    background-color: #fff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    
}

img {
    display: block;
    max-width: 100%;
}

main h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Utilities */
.container-lg {
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm {
    max-width: 1000px;
    margin: 0 auto;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

    /* Buttons */

.btn {
    background-color: #0061ff;
    color: white;
    padding: 5px 12px;
    display: inline-block;
}

    /* Layout */
.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row.cols-3 > .col {
    flex-basis: calc(100% / 3 - 80px / 3);
    border: 1px solid lightgray;
}

.row.cols-3 {
    gap: 40px;
}

.row.grow > * {
    flex-grow: 1;
}

/* Header */
.navbar.flex {
    height: 80px;
    justify-content: space-between;
    padding: 20px;
    font-size: 13px;
}

.header-left.flex-center,
.card-links-lft.flex,
.card-links-rgt.flex {
    gap: 40px;
}

.card-links-rgt.flex {
    margin-right: 20px;
}

.logo {
    height: 20px;
}

/* Hero */
.hero {
    background-color: #b4d0e7;
    padding: 50px 0 10px 0;
    font-size: 13px;
}

.hero h1{
    font-size: 52px;
    font-weight: 800;
}

.hero-image {
    height: 400px;
    position: relative;
    bottom: -70px;
    left: 0;
}

.text-hero {
    flex-basis: 30%;
    margin-top: 70px;
    position: relative;
}

.fas.fa-arrow-down {
    position: absolute;
    bottom: 0;
    left: 0; 
}

/* Business plans section */
.plans-business {
    padding: 100px 0 50px 0;
}

.plans-business h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

/* Fake Buttons */
.fake-buttons {
    margin-bottom: 40px;
}

.billing::before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 50%;
    line-height: 15px;
    vertical-align: middle;
}

.billing.border-blue::before {
    border: 3px solid #0061ff;
    height: 13px;
    width: 13px;
}

.billing {
    margin-right: 20px;
} 

    
/* Plans */

/* Column */
.plans.business .col {
    border: 1px solid lightgray;
}

.col-header {
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0;
}

.plans-business .col-body {
    padding: 20px;
}


.col-body .prices {
    margin-bottom: 40px;
}

.col-body .features li {
    height: 40px;
}

.col-body .btn {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.col-body .buy-now {
    text-decoration: underline;
    color: #0000EE;
}

.splitter {
    border-bottom: 1px solid lightgray;
    margin: 30px 0;
    width: 30%;
}

/* Row */
.col-body.row {
    align-items: flex-start;
}

.col-body.row .left-side {
    flex-basis: 70%;
}

.col-body.row .right-side {
    flex-basis: 30%;
    padding-left: 25px;
}

.left-side ul {
    margin-bottom: 40px;
}

.col-body.row .btn {
    flex-basis: 30%;
    margin-bottom: 10px;
}

/* Partners */

section.partner {
    padding: 50px 0;
}

.container-image {
    flex-basis: 70%;
}

.partner-text {
    flex-basis: 30%;
    padding: 30px;
}

.partner-text .btn {
    background-color: white;
    color: black;
    border: 1px solid currentColor;
}